<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
                <strong>Mumbai</strong><br>
                Indiabulls Finance Centre Tower 3, 24th / 25th / 26th / 27th – 32nd Floor Senapati Bapat Marg, Elphinstone Road (West) Mumbai, Maharashtra India, 400013
        </div>
        <div class="col-sm-2">
                <strong>Bengaluru</strong> 
                 Prestige Trade Tower, 14th till 22nd floor, Municipal No. 46, Ward No. 77 Palace Road, Sampangiram Nagar Bengaluru, Karnataka India, 560001
         </div>
         <div class="col-sm-2">
                <strong>Pune</strong> 
                706, ‘B’ Wing, 7th Floor 106 b wing 1st floor 301-304 3rd floor A wing ICC Trade Tower, Senapati Bapat Road, Pune, Maharashtra
India, 411016     
        </div>
    </div>
</div>
