<div class="container">
<p><span style="font-size: 25px"><strong>Deloitte Touche Tohmatsu Limited</strong>/dəˈlɔɪt ˈtuːʃ toʊˈmɑːtsuː/,</span>
    <br>
        commonly referred to as Deloitte, is a multinational professional services network.[6] Deloitte is one of the "Big Four" accounting organizations and the largest professional services network in the world by revenue and number of professionals.[7]
        
        Deloitte provides audit, tax, consulting, enterprise risk and financial advisory services with more than 286,200 professionals globally.[8] In FY 2018, the network earned a record $43.2 billion USD in aggregate revenues.[9] As of 2017, Deloitte is the 4th largest privately owned company in the United States.[10]
        
        As of 2015, Deloitte currently has the highest market share in auditing among the top 500 companies in India.[11][12] Deloitte has been ranked number one by market share in consulting by Gartner,[13] and for the fourth consecutive year, Kennedy Consulting Research and Advisory ranks Deloitte number one in both global consulting and management consulting based on aggregate revenue.[14]
</p>
</div>