<div class="container pt-3">
  <div class="row justify-content-sm-center">
    <div class="col-sm-6 col-md-4">

      <div class="card border-info text-center">
        <div class="card-header">
          Sign In To Continue
        </div>
        <div class="card-body">
         
          <form class="form-signin">
            <input type="text" class="form-control mb-2" placeholder="Email" required autofocus>
            <input type="password" class="form-control mb-2" placeholder="Password" required>
            <button class="btn btn-lg btn-primary btn-block mb-1" type="submit">Sign in</button>
            <button class="btn btn-lg btn-danger btn-block mb-1" type="button">Cancel</button>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>
