<div class="container">
    <div class="search-hero">
       Search: <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
            placeholder="Start searching for an employee by id or name">
    </div>
    <br>

</div>
<div class="container">
    <table class="table table-striped">
        <thead>
            <h3><Strong>Employee Details</Strong></h3>
            <tr>
                <th>S.No.</th>
                <th>Employee Id</th>
                <th>Name</th>
                <th>Organization</th>
                <th>Role</th>
                <th>Project</th>
                <th>Location</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <ng-container>
                <tr *ngFor="let emp of employeeList | filter : searchText;index as i">
                    <td>{{ i+1 }}</td>
                    <td>{{ emp.empID }}</td>
                    <td>{{ emp.empName }}</td>
                    <td>{{ emp.organization }}</td>
                    <td>{{ emp.role }}</td>
                    <td>{{ emp.project }}</td>
                    <td>{{ emp.location }}</td>
                    <td>
                        <button (click)="openUpdateFormModal(emp)" type="button"
                            class="btn btn-primary btn-sm btn-space">Update</button>
                        <button (click)="openDeleteFormModal(emp)" type="button"
                            class="btn btn-danger btn-sm btn-space">Delete</button>

                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>